{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ country.name }}
{% endblock %}

{% block content %}
	<article class="country-template">
        <h2>{{ country.name }}</h2>
        <img src="{% static country.image %}" alt="{{ country.name }}">
        <p>{{ country.description }}</p>
        <p class="divider"></p>
        <div class="go-back"><a href="/#all-countries" class="all-countries">Go Back</a></div>
    </article>
    
    
    
      <script>
        document.querySelectorAll('p').forEach(paragraph => {
            
            const sentences = paragraph.innerHTML.split('. ');
            
            let newContent = '';
            
            sentences.forEach((sentence, index) => {
                newContent += sentence + (index < sentences.length - 1 ? '. ' : ''); 
                if ((index + 1) % 3 === 0 && index < sentences.length - 1) {
                    newContent += '<br><br>'; 
                }
            });
            paragraph.innerHTML = newContent;
        });
    </script>
{% endblock %}