{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
         <div class="unit-links">
            <nav class="units-nav">
                <ul class="units-list">
                    <li><a href="{% url 'daily-word' %}">Word of The Day</a></li>
                    <li><a href="{% url 'flashcards' %}">Create Flashcards</a></li>
                    <li><a href="{% url 'view_flashcards' %}">View Flashcards</a></li>
                    <li><a href="{% url 'translate' %}">Translate</a></li>
                    <li><a href="{% url 'forum-posts' %}">Forum</a></li>
                    <li><a href="{% url 'blog_list' %}">Blog</a></li>
{#                    <li><a href="#7">Unit 7</a></li>#}
{#                    <li><a href="#8">Unit 8</a></li>#}
{#                    <li><a href="#9">Unit 9</a></li>#}
{#                    <li><a href="#10">Unit 10</a></li>#}
                </ul>
            </nav>
        </div>
     {% endif %}

	<img src="{% static 'images/gallery/Cover Photo.jpg' %}" alt="">
    <br><br>

    <section class="photo-gallery">
    
    <div class="photo-section">
        <img src="{% static 'images/gallery/Student.png' %}" alt="Student" class="photo">
        <h3>Students</h3>
        <p>A happy student feels motivated and engaged, confidently progressing in their Spanish learning journey. They enjoy each lesson, finding joy in mastering new words and connecting with a vibrant community of fellow learners.</p>
    </div>
    <div class="photo-section">
        <img src="{% static 'images/gallery/University.png' %}" alt="University" class="photo">
        <h3 id="all-countries">Quiero Aprender University</h3>
        <p>Our university was created to provide accessible, high-quality education for those eager to learn and grow. We are dedicated to empowering students with knowledge, skills, and real-world experience to help them succeed in a rapidly changing world.</p>
    </div>
    <div class="photo-section">
        <img src="{% static 'images/gallery/Classroom.png' %}" alt="Classroom" class="photo">
        <h3>Our Classroom</h3>
        <p>Our learning environment is supportive and engaging, crafted to inspire curiosity and growth. It encourages active participation, fosters collaboration, and provides the resources needed for each student to succeed on their educational journey.</p>
    </div>
</section>
    <h2>SPANISH IS THE OFFICIAL LANGUAGE IN 21 COUNTRIES AROUND THE WORLD</h2>
    <br>
   <article class="countries">
    
    <br>
    <ol>
        <li><a href={% url 'country_details' country_name='argentina' %}>Argentina</a></li>
        <li><a href={% url 'country_details' country_name='bolivia' %}>Bolivia</a></li>
        <li><a href={% url 'country_details' country_name='chile' %}>Chile</a></li>
        <li><a href={% url 'country_details' country_name='colombia' %}>Colombia</a></li>
        <li><a href={% url 'country_details' country_name='costa-rica' %}>Costa Rica</a></li>
        <li><a href={% url 'country_details' country_name='cuba' %}>Cuba</a></li>
        <li><a href={% url 'country_details' country_name='dominican-republic' %}>Dominican Republic</a></li>
        <li><a href={% url 'country_details' country_name='ecuador' %}>Ecuador</a></li>
        <li><a href={% url 'country_details' country_name='el-salvador' %}>El Salvador</a></li>
        <li><a href={% url 'country_details' country_name='equatorial-guinea' %}>Equatorial Guinea</a></li>
        <li><a href={% url 'country_details' country_name='guatemala' %}>Guatemala</a></li>
        <li><a href={% url 'country_details' country_name='honduras' %}>Honduras</a></li>
        <li><a href={% url 'country_details' country_name='mexico' %}>Mexico</a></li>
        <li><a href={% url 'country_details' country_name='nicaragua' %}>Nicaragua</a></li>
        <li><a href={% url 'country_details' country_name='panama' %}>Panama</a></li>
        <li><a href={% url 'country_details' country_name='paraguay' %}>Paraguay</a></li>
        <li><a href={% url 'country_details' country_name='peru' %}>Peru</a></li>
        <li><a href={% url 'country_details' country_name='puerto rico' %}>Puerto Rico</a></li>
        <li><a href={% url 'country_details' country_name='spain' %}>Spain</a></li>
        <li><a href={% url 'country_details' country_name='uruguay' %}>Uruguay</a></li>
        <li><a href={% url 'country_details' country_name='venezuela' %}>Venezuela</a></li>
    </ol>
</article>
    <section class="partners-section">
  <h2>OUR PARTNERS</h2>
        
  <div class="partners-gallery">
    <div class="partner-item">
      <img src="{% static 'images/partners/Spain.jpg' %}" alt="España" class="partner-image">
      <h3 class="partner-name">España</h3>
    </div>
    <div class="partner-item">
      <img src="{% static 'images/partners/Argentina.jpg' %}" alt="Argentina" class="partner-image">
      <h3 class="partner-name">Argentina</h3>
    </div>
    <div class="partner-item">
      <img src="{% static 'images/partners/Mexico.jpg' %}" alt="Mexico" class="partner-image">
      <h3 class="partner-name">Mexico</h3>
    </div>
  </div>
</section>

<h2>WHAT OUR STUDENTS SAY</h2>
<section class="testimonials">

    <div class="testimonial">
        <img src="{% static 'images/testimonial/Maria.png' %}" alt="Maria Ivanova" class="testimonial-image">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <p class="testimonial-text">"The Spanish lessons are amazing! They’re easy to follow, and the teachers are very motivating."</p>
        <p class="testimonial-author">- Maria Ivanova</p>
    </div>
    <div class="testimonial">
        <img src="{% static 'images/testimonial/Peter.png' %}" alt="Peter Petrov" class="testimonial-image">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <p class="testimonial-text">"Thanks to these lessons, I can now speak Spanish fluently. I recommend it to everyone!"</p>
        <p class="testimonial-author">- Peter Petrov</p>
    </div>
    <div class="testimonial">
        <img src="{% static 'images/testimonial/Alexandra.png' %}" alt="Alexandra Georgieva" class="testimonial-image">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <p class="testimonial-text">"The materials are top-notch, and the instructors explain concepts clearly and simply."</p>
        <p class="testimonial-author">- Alexandra Georgieva</p>
    </div>
</section>
{% endblock %}