{% extends 'base.html' %}
{% load static %}

{% block title %}History{% endblock %}

{% block content %}
   
  <div class="container">
    <div class="history-section">
        <h1>OUR STORY</h1>
        <div class="history-text">
        <p>We are Alejandro Rodríguez and Isabella García, a married couple of educators driven by a shared passion for language and culture. Committed to accessible education, we envisioned a space where students from all backgrounds could come together to learn and grow. In 2020, we founded our university, focusing on innovative teaching methods, immersive language experiences, and a supportive learning environment.</p>
        <p>Since then, our university has flourished into a vibrant community that inspires students to reach their fullest potential and deepens their appreciation for the Spanish language and culture. Today, we remain dedicated to our mission of making high-quality education accessible to all and welcome each new learner into our growing community.</p>
      </div>
        
      <div class="history-image">
        <img src="{% static 'images/gallery/Founders.jpg' %}" alt="Founders Javier and Esmeralda Gonzalez">
      </div>
    </div>
  </div>
{% endblock %}