{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <h2 class="forms-h2">Update Profile</h2>
    <div class="page-container-min-height-100vh">
        <div class="form-container">
            <form method="post" enctype="multipart/form-data" class="update-form">
                {% csrf_token %}

                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                {{ form.first_name }}

                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                {{ form.last_name }}

                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}

                {% if form.email.errors %}
                    <div class="error">
                        <p>{{ form.email.errors.0 }}</p>
                    </div>
                {% endif %}

                <label for="{{ form.bio.id_for_label }}">Biography</label>
                {{ form.bio }}

                <label for="{{ form.birth_date.id_for_label }}">Birth Date</label>
                {{ form.birth_date }}

                <label for="{{ form.profile_photo.id_for_label }}">Profile Photo</label>
                {{ form.profile_photo }}

                {% if form.profile_photo.errors %}
                    <div class="error">
                        <p>{{ form.profile_photo.errors.0 }}</p>
                    </div>
                {% endif %}
            
                <button type="submit" class="btn-submit">Save Changes</button>
            </form>

        </div>
    </div>

    <script>
            document.addEventListener("DOMContentLoaded", function() {

            const form = document.querySelector('.update-form');
            const fields = form.querySelectorAll('input, textarea');

            fields.forEach(field => {

                field.addEventListener('input', function () {
                    const errorDiv = this.parentNode.querySelector('.error');
                    if (errorDiv) {
                        errorDiv.style.display = 'none';
                    }
                });


                if (field.type === 'file') {
                    field.addEventListener('change', function () {
                        const errorDiv = this.parentNode.querySelector('.error');
                        if (errorDiv) {
                            errorDiv.style.display = 'none';
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}