{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2 class="primary-h2">{{ profile_user.username }}'s Profile</h2>
<div>
    <div class="form-container">
    
        <div>
           {% if profile_user.profile_photo %}
                <img src="{{ profile_user.profile_photo.url }}" alt="Profile Photo">
            {% else %}
                <img src="{% static 'images/gallery/Annonymous.png' %}" alt="Default Profile Photo">
            {% endif %}
        </div>

        <ul class="personal-info">
            <li><strong>Username:</strong> {{ profile_user.username }}</li>
            <li><strong>First Name:</strong> {{ profile_user.first_name }}</li>
            <li><strong>Last Name:</strong> {{ profile_user.last_name }}</li>
            <li><strong>Email:</strong> {{ profile_user.email }}</li>
            <li><strong>Biography:</strong> {{ profile_user.bio }}</li>
            <li><strong>Date Of Birth:</strong> {{ profile_user.birth_date }}</li>
        </ul>

        {% if request.user.username == profile_user.username %}
        	<div class="action-buttons">
                <a href="{% url 'update' profile_user.username %}" class="btn-do-action">Edit</a>
                <a href="{% url 'delete' profile_user.username %}" class="btn-do-action">Delete</a>
        </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


