{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
<div class="page-container">
    <div class="form-container">

        <div>
           {% if user.profile_photo %}
                <img src="{{ user.profile_photo.url }}" alt="Profile Photo" style="width: 150px; height: 150px; border-radius: 50%;">
            {% else %}
                <img src="{% static 'images/gallery/Annonymous.png' %}" alt="Default Profile Photo" style="width: 150px; height: 150px; border-radius: 50%;">
            {% endif %}
        </div>

        <ul class="personal-info">
            <li><strong>Username:</strong> {{ user.username }}</li>
            <li><strong>First Name:</strong> {{ user.first_name }}</li>
            <li><strong>Last Name:</strong> {{ user.last_name }}</li>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Biography:</strong> {{ user.bio }}</li>
            <li><strong>Date Of Birth:</strong> {{ user.birth_date }}</li>
        </ul>
        <div class="buttons">
            <div class="edit">
                <a href="{% url 'update' %}">Edit</a>
            </div>
            <div class="delete">
                <a href="{% url 'delete' %}">Delete</a>
            </div>
        </div>
    </div>
</div>

    <style>
    .page-container {
        min-height: 80vh;
    }

    .form-container {
        max-width: 500px;
        margin: 40px auto 40px;
        padding: 30px;
        background-color: var(--background-color);
        border-radius: 8px;
        box-shadow: 0 4px 8px var(--shadow-color);
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        color: black;
        margin: 0 auto;
        padding: 15px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        box-shadow: 0 4px 6px var(--shadow-color);
        background-color: var(--background-color);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        width: 500px;
    }

    .personal-info li {
        list-style: none;
        margin: 20px 0;
        padding: 10px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        box-shadow: 0 4px 6px var(--shadow-color);
        background-color: var(--background-color);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.personal-info li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px var(--shadow-color);
}

    .buttons {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    .edit {
        background-color: var(--secondary-color);
        width: 200px;
        border-radius: 1.5em;
        padding: 10px;
    }

    .delete {
        background-color: var(--primary-color);
        width: 200px;
        border-radius: 1.5em;
        padding: 10px;
    }

    .edit a{
        text-decoration: none;
        color: var(--text-light);
        font-size: 24px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    .delete a {
        text-decoration: none;
        color: var(--text-light);
        font-size: 24px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }
    
    .bio-textarea {
    width: 100%; 
    box-sizing: border-box; 
}
    
</style>
{% endblock %}


