{% extends 'base.html' %}

{% block title %}
	Courses
{% endblock %}

{% block content %}
    
	<div class="course-container">
    <h1 class="course-title">AVAILABLE COURSES</h1>
    <ul class="course-list">
        {% for course in courses %}
            <li class="course-item">
                <div class="course-content">
                    <h3 class="course-title">{{ course.title }}</h3>
                    <p class="course-description">{{ course.description }}</p>
                    <p class="course-level">
                        <strong>Level:</strong> {{ course.get_level_display }}
                    </p>
                </div>
                {% if user.is_authenticated %}
                    <a class="course-link" href="{% url 'lessons-by-course' course.id %}">View Lessons</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}