{% extends 'base.html' %}

{% block title %}
	Events
{% endblock %}

{% block content %}
    <h2 class="primary-h2">Total Events</h2>
	<div class="events-container">
    {% for event in events %}
        <div class="event-block">
            
                <h2 class="event-title">{{ event.title }}</h2>
                
                <p class="event-description">{{ event.description }}</p><br>
                <p class="event-date">Start: {{ event.start_time }}</p>
                <p class="event-date">End: {{ event.end_time }}</p><br>
                <p class="event-attendees">Attendees: {{ event.attendees.count }}</p>
                
                <div class="register-event">
                    {% if user.is_authenticated %}
                        {% if not event.is_registered %}
                            <a href="{% url 'register_event' event.id %}">Register</a>
                        {% endif %}
                    {% else %}
                        <p><a href="{% url 'login' %}">Log in to register</a></p>
                    {% endif %}
                </div>
            
        </div>
    {% endfor %}
    </div>

{% endblock %}