{% extends 'base.html' %}

{% block title %}
	Translate
{% endblock %}

{% block content %}

    <h2 class="forms-h2 ">TRANSLATOR</h2>
    <div class="page-container">
        <div class="form-container">

            <form method="get">
                <label for="text"></label><br>
                <textarea id="text" name="text" rows="4" cols="50" placeholder="Enter text to translate">{{ text }}</textarea><br>
                <button type="submit" class="btn-submit">Translate</button>
            </form>


            {% if translation %}
                <h4>Translation:</h4>
                <div class="translated-context">
                    <p>{{ translation }}</p>
                </div>
            {% endif %}


            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}

        </div>
    </div>
{% endblock %}