{% extends 'base.html' %}

{% block title %}
	Create Flashcard
{% endblock %}

{% block content %}
	<h2 class="primary-h2">Quick Flashcards</h2>
    <div class="page-container">
        <div class="form-container">

            <form method="get">
                <label for="text"></label><br>
                <textarea id="text" name="text" rows="4" cols="50" placeholder="Enter text to create a flashcard">{{ text }}</textarea><br>
                <button type="submit" class="btn-submit">Create Flashcard</button>
            </form>

            {% if flashcard %}
                <h3>Flashcard Created:</h3>
                <br>
                <p><strong>English:</strong> {{ flashcard.Front }}</p>
                <p><strong>Spanish:</strong> {{ flashcard.Back }}</p>
            {% endif %}


            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}