{% extends 'base.html' %}

{% block title %}
    {{ lesson.title }}
{% endblock %}

{% block content %}
<div class="lesson-container">
    <h3 class="course-title">{{ lesson.course.title }}</h3>
    <h3><strong>Lesson #{{ lesson.id }}</strong></h3>
    <br>
    <h4 class="lesson-title">{{ lesson.title }}</h4>
    <div class="lesson-content">
        {{ lesson.content|safe }}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.number != 1 %}
            <a href="{% url 'lesson-detail' first_lesson.id first_lesson.slug %}" class="pagination-link">
                &laquo; First
            </a>
        {% endif %}

        {% if previous_lesson %}
            <a href="{% url 'lesson-detail' previous_lesson.id previous_lesson.slug %}" class="pagination-link">
                &laquo; Previous
            </a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if next_lesson %}
            <a href="{% url 'lesson-detail' next_lesson.id next_lesson.slug %}" class="pagination-link">
                Next &raquo;
            </a>
        {% endif %}
    
        {% if page_obj.number != page_obj.paginator.num_pages %}
            <a href="{% url 'lesson-detail' last_lesson.id last_lesson.slug %}" class="pagination-link">
                Last &raquo;
            </a>
        {% endif %}
    </span>
</div>
    <br>
{% endblock %}