{% extends 'base.html' %}

{% block title %}
	View Flashcards
{% endblock %}

{% block content %}
   <div class="main-container">
    <h2 class="forms-h2">{{ user.username }}'s Flashcards</h2>

    {% if flashcards %}
        <div class="cards-container">
            {% for card in flashcards %}
                <div class="card">
                    <strong>English:</strong> {{ card.Front }}<br><br>
                    <strong>Spanish:</strong> {{ card.Back }}<br><br>
                    <form action="{% url 'delete_flashcard' forloop.counter0 %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-flashcard">Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <br>
        <p>NO FLASHCARDS FOUND.</p>
    {% endif %}
</div>
{% endblock %}