.site-footer {
    background-color: var(--gray-color);
    padding: 30px 20px;
    font-family: Roboto, sans-serif;
    color: var(--dark-color);
    font-weight: bold;
    border-top: 2px solid var(--border-color);
}

.site-footer .home-link {
    color: var(--gold-color);
}

.site-footer h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--black-color);
}

.site-footer a {
    text-decoration: none;
    color: var(--ligh-dark-color);
    transition: color 0.3s;
}

.site-footer a:hover {
    color: var(--dark-color);
}

.social-container {
    margin-bottom: 20px;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color: var(--ligh-dark-color);
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--primary-color);
}
.contact-container p {
    color: var(--ligh-dark-color);
}
.contact-container,
.footer-links
 {
    margin-bottom: 20px;
    text-align: center;
}

.footer-links li{
    list-style: none;
}
.contact-container a,
.footer-links a {
    display: inline-block;
    margin: 5px 10px;
}

.rights {
    text-align: center;
    font-size: 0.9em;
    color: #888;
}

.divider {
    border-top: 1px solid var(--divider-color);
    margin: 20px 0;
}

