.navigation-container {
    position: sticky;
    top: 0;
    z-index: 1000;

}

.main-nav {
    background-color: var(--primary-color);

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-md);
    flex-wrap: wrap;
}

.nav-list li {
    margin: var(--spacing-sm);
}

.nav-list a {
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: var(--spacing-sm);
    transition: opacity 0.3s ease;
}

.nav-list a:hover {
    opacity: 0.8;
}

.nav-list i {
    margin-right: var(--spacing-sm);
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: var(--spacing-md);
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 150px;
    height: 150px;
}


@media screen and (max-width: 1110px) {
    .mobile-menu-btn {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        width: 100%;
        text-align: center;
    }

    .contact-info {
        order: -1;
    }

    .logo img {
        width: 120px;
        height: 120px;
    }
}

