
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.container h1 {
    margin-bottom: 2rem;
}
.container ul li {
    list-style: none;
}

.history-section {
      max-width: 1200px;
      margin: 0 auto;
      background-color: var(--white-color);
      padding: 40px;
      border: 1px solid var(--border-color);
      border-radius: 10px;
      box-shadow: 0 4px 8px var(--shadow-color);
    }
    .history-text {
      flex: 1 1 60%;
        padding-top: 1em;
        max-width: 100%;
    }
    .history-image {
      flex: 1 1 40%;
      text-align: center;
    }
    .history-image img {
      border-radius: 10px;
      box-shadow: 0 4px 8px var(--shadow-color);
      filter: brightness(0.9);
    }

    .history-text p {
      margin-bottom: 1.5em;
        text-align: justify;
    }


    @media (max-width: 768px) {
    .container {
        max-width: 700px;
    }

    .history-section {
        padding: 20px;
    }

    .history-text, .history-image {
        flex: 1 1 100%;
        padding: 1em;
    }

    .history-text p {
        margin-bottom: 1.5em;
        text-align: justify;
    }

}

@media (max-width: 480px) {
    .container {
        max-width: 450px;
    }

    .history-section {
        padding: 15px;
    }


    .history-text p {
        text-align: justify;
    }

    .history-text, .history-image {
        padding: 0.5rem;
    }

    .history-image img {
        border-radius: var(--border-radius-8);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }
}

