
    .container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.container h1 {
    font-size: 2em;
}

.container ul li {
    list-style: none;
}

.history-section {
        max-width: 1200px;
        margin: 0 auto;
      background-color: var(--white-color);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px var(--shadow-color);
    }
    .history-text {
      flex: 1 1 60%;
        padding-top: 1em;
        max-width: 100%;
    }
    .history-image {
      flex: 1 1 40%;
      text-align: center;
    }
    .history-image img {
      border-radius: 10px;
      box-shadow: 0 4px 8px var(--shadow-color);
      filter: brightness(0.9);
    }

    .history-text p {
      line-height: 1.6;
      margin-bottom: 1.5em;
      font-size: 1.2em;
        text-align: justify;
    }


    @media (max-width: 768px) {
    .container {
        padding: 20px 10px;
    }

    .history-section {
        padding: 20px;
    }

    .history-text, .history-image {
        flex: 1 1 100%;
        padding: 1em;
    }

    .container h1 {
        font-size: 1.5em;
    }

    .history-text p {
        font-size: 0.9em;
        margin-bottom: 1.5em;
        line-height: 1.5;
        text-align: justify;
    }

}

@media (max-width: 480px) {
    .container {
        padding: 15px 5px;
        min-height: 75vh;
    }

    .history-section {
        padding: 15px;
    }

    .container h1 {
        font-size: 1.3em;
    }

    .history-text p {
        font-size: 0.8rem;
        text-align: justify;
    }

    .history-text, .history-image {
        padding: 0.5rem;
    }

    .history-image img {
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }
}

