    .delete-page-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .delete-form-container {
            background-color: var(--gray-color);
            padding: 30px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px var(--shadow-color);
            max-width: 500px;
            width: 100%;
            text-align: center;
        }

        .delete-form-container h2 {
            color: var(--primary-color);
            margin-bottom: 20px;
        }

        .delete-form-container p {
            margin: 10px 0;
            color: var(--ligh-dark-color);
        }

        .delete-form-container p strong {
            color:var(--dark-color);
        }

        @media (max-width: 768px) {
    .delete-form-container {
        max-width: 400px;
    }
    }

    @media (max-width: 480px) {
        .delete-form-container {
            max-width: 300px;
        }
    }