{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spanish For Beginners</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <header>
        <div class="navigation-container">
            <nav class="main-nav">
                <button class="mobile-menu-btn" aria-label="Toggle menu">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="nav-list">
                    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="{% url 'about' %}"><i class="fa fa-info-circle"></i>About Us</a></li>
                    <li><a href="education"><i class="fa fa-graduation-cap"></i>Education</a></li>
                    <li class="university"><a href="{% url 'university' %}"><i class="fa fa-university"></i>University</a></li>
                    <li class="contact-info mail"><a href="contact"><i class="fa fa-envelope"></i>info@escuela.es</a></li>
                    <li><a href="profile"><i class="fa fa-user"></i>Profile</a></li>
                </ul>
            </nav>
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'images/Logo.png' %}" alt="Logo">
            </a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="social-container">
            <h3 class="find-us">FOLLOW US:</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://x.com/" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/" aria-label="YouTube"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="rights">
            <p>© 2024. All Rights Reserved. <a href="{% url 'home' %}" class="home-link">QUIERO APRENDER</a></p>
        </div>
    </footer>

    <script>
        document.querySelector('.mobile-menu-btn').addEventListener('click', function() {
            document.querySelector('.nav-list').classList.toggle('show');
        });
    </script>
</body>
</html>