header {
    font-size: 20px;
}

.primary-h2 {
    letter-spacing: 1.5px;
    color: var(--black-color);
    margin: 0 auto;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: var(--gray-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.terms-container {
    max-width: 800px;
    margin: 2rem auto 5rem;
    padding: 2em;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.terms-container h1 {
    text-align: center;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 2rem;
}
.terms-container h2 {
    text-align: start;
    padding: 2rem;

}

.terms-container section p,
.terms-container ul li {
    padding-left: 2rem;
    list-style: none;
}

.terms-container p > a {
    text-decoration: none;
    color: var(--gold-color);
}


