.photo-gallery {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.photo-section {
  flex: 1;
  text-align: center;
  margin: 20px 20px;
}

.photo-section p {
    text-align: justify;
}

.photo {
  object-fit: cover;
  border-radius: var(--border-radius-8);
}


@media (max-width: 480px) {
  .photo-gallery {
    flex-direction: column;
  }
}