{% extends "base.html" %}
{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
    <style>
        .blog-container {
            line-height: 1.6;
            border-radius: var(--border-radius-8);
            max-width: 1200px;
            margin: 0 auto;
            padding: 40px;
            background-color: var(--gray-color);
            color: var(--dark-color);

        }
        
        article {
            background: white;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: var(--primary-color);
            margin-top: 1.5em;
            margin-bottom: 0.8em;
            text-transform: uppercase;
        }

        strong {
            color: var(--primary-color);
        }

        em {
            color: var(--dark-color);
            font-style: italic;
            background: #f0f0f0;
            padding: 2px 6px;
            border-radius: 4px;
        }

        p {
            margin-bottom: 1.2em;

        }
        @media (max-width: 768px) {
            .blog-container {
                max-width: 700px;
            }
        }
        @media (max-width: 480px) {
            .blog-container {
                max-width: 400px;
            }
        }
    </style>
<div class="blog-container">
    <h2>{{ post.title }}</h2>
    <div>{{ post.content|safe }}</div>
    <p><strong>Published on:</strong> {{ post.created_at|date:"d M Y" }}</p>

    <div class="blog-navigation">
        {% if previous_post %}
            <a href="{% url 'blog_detail' previous_post.slug %}" class="pagination-link">
                &laquo; Previous
            </a>
        {% endif %}

        {% if next_post %}
            <a href="{% url 'blog_detail' next_post.slug %}" class="pagination-link">
                Next &raquo;
            </a>
        {% endif %}
    </div>
</div>
    <br><br>
{% endblock %}


