.lesson-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: var(--border-radius-8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
}

.display-lessons {

    list-style: none;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid var(--border-color);
    var(--border-radius-8);
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: var(--gray-color);
}

.display-lessons:hover {
    background-color: var(--gold-color);

}

.display-lessons a {
    display: flex;
    justify-content: center;
    color: var(--dark-color);
    text-decoration: none;
    text-transform: uppercase;
}


.lesson-container ul {
    background-color: var(--gray-color);
}

.lesson-content ul, ol li {
    list-style: none;
    background-color: var(--white-color);
}

.lesson-title {
    text-transform: uppercase;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}


.lesson-container div {

    color: var(--dark-color);
    text-align: center;
}

.lesson-container img {
    max-width: 80%;
    border-radius: var(--border-radius-8);
    margin: 10px 0;
    box-shadow: 0 2px 4px var(--shadow-color);
}

table th {
    text-align: center;
}
.lesson-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.lesson-container table th, .lesson-container table td {
    border: 1px solid var(--border-color);
    padding: 8px;
}

.lesson-container table th {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
}

.lesson-container table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.lesson-container table tr:hover {
    background-color: #e8f8f5;
}

@media (max-width: 1024px) {
    .lesson-container {
        max-width: 900px;
    }

@media (max-width: 768px) {
    .lesson-container {
        max-width: 700px;
    }
}

@media (max-width: 480px) {
    .lesson-container {
        max-width: 400px;
    }
}
}