.translated-context {
        width: 100%;
        padding: 12px 20px;
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: 8px;
    }

@media (max-width: 768px) {
      .translated-context {
          padding: 10px 20px;
        }
}

@media (max-width: 480px) {
     .translated-context {
       padding: 8px 20px;
     }
}