{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}
<div class="content-container">
    <div class="post-container">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-info">By <strong>{{ post.user.username }}</strong> on {{ post.created_at|date:"M d, Y H:i" }}</p>
        <p class="post-content">{{ post.content }}</p>
    </div>

    <div class="actions">
        <a href="{% url 'forum-posts' %}" class="btn btn-back">Back to Forum</a>
        {% if request.user == post.user %}
            <a href="{% url 'edit-post' post.pk %}" class="btn btn-edit">Edit</a>
        {% endif %}

        {% if request.user == post.user or request.user.is_superuser %}
            <a href="{% url 'delete-post' post.pk  %}" class="btn btn-delete">Delete</a>
        {% endif %}
    </div>

    <div class="comments-container">
        <h2>Comments</h2>
        <ul class="comment-list">
            {% for comment in comments %}
                <li class="comment-item">
                    <p class="comment-content">{{ comment.content }}</p>
                    <p class="comment-info">By <strong>{{ comment.user.username }}</strong> on {{ comment.created_at|date:"M d, Y H:i" }}</p>
                    {% if request.user == comment.user or request.user.is_superuser or request.user.is_staff %}
                    <a href="{% url 'comment-delete' comment.pk %}" class="btn btn-delete">Delete</a>
            {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="add-comment">
        <h3>Add a comment</h3>
        <form method="post" class="comment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="action-buttons">
                <button type="submit" class="btn-do-action">Post Comment</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

